@model NKTVest.Models.LOAISP

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Thêm Mới Loại Sản Phẩm</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div style="text-align:center">Mã Loại Sản Phẩm</div>
            <div style="text-align:center; width:300px">
                @Html.EditorFor(model => model.MALOAI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MALOAI, "", new { @class = "text-danger" })
                @ViewData["loi1"]
                @ViewData["loi2"]
            </div>
        </div>

        <div class="form-group">
            <div style="text-align:center">Tên Loại Sản Phẩm</div>
            <div style="text-align:center; width:300px">
                @Html.EditorFor(model => model.TENLOAI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TENLOAI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div style="text-align:center">Trạng Thái Hiển Thị</div>
            <div style="text-align:center; width:300px">
                @Html.EditorFor(model => model.TRANGTHAI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TRANGTHAI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div style="text-align:center; width:300px; font-weight:bold">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay Lại Danh Sách", "Index")
</div>
<style>
    footer {
        bottom: 0;
        position: absolute;
    }
</style>