<style type="text/css">
    #Datmua a{
        clear:both; background-color:red;
        color:white; width: 120px; height:35px;
        display:block; float:right; text-align:center;
        padding-top:10px; text-decoration:none; font-weight:bold;
    }
    #Datmua a:hover{
        background-color:gray;
        color:red;
    }
</style>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align:center; color:chocolate">THÔNG TIN CHI TIẾT SẢN PHẨM</h2>
<div>
    <div style="width:40%; float:left; border-left:dotted 1px; border-color:azure">
        <img src="~/Content/images/anhbia/th/@Model.ANHBIA" width="100%"/>
    </div>
    <div style="width:60%; float:left; padding:10px">
        <h4 style="font-weight:bold; color:royalblue">Tên Sản Phẩm: @Model.TENSP</h4>
        <p style="text-align:justify">
            <span style="font-weight:bold">
                Mô Tả Sản Phẩm:
            </span>Bằng đam mê với vest và bằng những cố gắng bền bỉ trong từng giây phút, NKTVest đã tiên phong trong ngành thời trang, thay đổi tư duy khách hàng, trở thành thương hiệu Việt Nam lớn nhất trong thị phần vest may sẵn, là thương hiệu uy tín về đồ Âu cho nam giới.
            <br>Nếu các thương hiệu khác chỉ có 3 sizes cho khách hàng thì ở NKTVest có đến 5 sizes phù hợp cho người từ 48-85kg. Chúng tôi muốn đảm bảo bạn luôn có thể chọn được một chiếc áo mặc vừa với người.
            <br>Với tôn chỉ "Vì khách hàng xứng đáng những điều tốt đẹp nhất", NKTV rất chú trọng đến cảm xúc và trải nghiệm của khách hàng. Chúng tôi có những không gian mua hàng xứng tầm, với đội ngũ tư vấn chuyên nghiệp, có gu thẩm mỹ tốt, được đào tạo bài bản để giúp khách hàng có sự mua sắm tốt nhất.
            <br>@Model.MOTA
        </p>
        <p style="font-weight:bold">Giá sản phẩm: <span style="color:red; font-size:20px">@Model.DONGIA VNĐ</span></p>
    </div>
    <div>
        <div id="Datmua">
            <a href="@Url.Action("ThemGiohang", "GioHang", new { @gMasp = @Model.MASP, @strURL=Request.Url.ToString()})" class="list-group-item">Đặt Mua</a>
        </div>
    </div>
</div>

