@using NKTVest.Models
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align: center; font-weight:bold">THÔNG TIN GIỎ HÀNG</h2>
<table align="center" border="1">
    <tr style="text-align:center; font-weight:bold">
        <td width="97px"> Mã sản phẩm </td>
        <td> Tên sản phẩm </td>
        <td width="160px"> Ảnh sản phẩm </td>
        <td width="97px"> Số lượng </td>
        <td width="97px"> Đơn giá </td>
        <td width="97px"> Tổng Tiền </td>
        <td width="50px"></td>
        <td width="50px"></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="text-align: center; font-weight: bold">
            <td> @item.gMasp </td>
            <td><a href="@Url.Action("Details", "Vest", new {id = item.gMasp })"> @item.gTensp </td>
            <td><a href="@Url.Action("Details", "Vest", new {id = item.gMasp })"><img width="150px" src="~/Content/images/anhbia/th/@item.gAnhbia" /> </td>
            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @msp = item.gMasp }))
            {
                <td>
                    <input type="number" min="1" name="txtSoLuong" value="@item.gSoluong" style="background-color:bisque; width: 97px" />
                </td>
                <td> @item.gDongia </td>
                <td> @item.gTongtien</td>
                <td><a href="@Url.Action("XoaGioHang", "GioHang", new { @msp = item.gMasp })"><img width="20" src="~/Content/images/del.png" /></td>
                <td><input type="submit" value="Cập Nhật" /></td>
            }
        </tr>
    }
    <tr style="font-weight: bold; text-align:right; color:brown">
        <td colspan="4"> Số lượng sản phẩm: @ViewBag.Tongsoluong </td>
        <td colspan="4"> Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</td>
    </tr>
    <tr style="font-weight: bold; text-align:right; color:brown">
        <td colspan="9">
            @Html.ActionLink("Xóa Giỏ Hàng", "XoaTatCaGioHang")
        </td>
    </tr>
    <tr style="font-weight: bold; text-align:right; color:brown">
        <td colspan="9" style="text-align:center">
            @Html.ActionLink("Đặt Hàng", "DatHang", "GioHang")
        </td>
    </tr>
</table>

